{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block content %}
  <h1>{{ 'heading.article_categories'|trans({ '%count%': categories|length }) }}</h1>
  <div class="row row-cols-1 row-cols-md-3">
    {% for category in categories %}
      <div class="col mb-4">
        {% include 'articles/categories/_item_card.html.twig' with  { category: category } only %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
