{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block content %}
  <h1>
    {{ 'heading.articles_in_category'|trans({
      '%count%': articles|length,
      '%categoryTitle%': category.title
    }) }}
  </h1>

  <div class="row row-cols-1 row-cols-md-3">
    {% for article in articles %}
      <div class="col mb-4">
        {% include 'articles/_item_card.html.twig' with  { article: article } only %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
