{% extends 'admin/base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}
    {{ parent() }}

    <ul>
        <li>
            <a href="{{ path('admin_articles_list') }}">Administrer les articles</a>
        </li>
    </ul>
{% endblock %}
